footer {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 25px;
    margin: 0 auto;
    margin-top: 50px;
    .footer-name {
        font-size:1.1rem;
        font-weight: 500;
        font-family: $sans-serif;
        text-align: center;
    }
    ul {
        margin: 0 auto;
        margin-bottom:  25px;
        display: flex;
        flex-direction: column;
        @media(min-width: 360px) {
            flex-direction: row;
        }
        li {
            list-style-type: none;
            margin: 15px;
            a {
                font-size: 1.4rem;
                @media(min-width: 360px)  and (max-width: 479px) {
                    font-size: 1.1rem;
                }
                @media(min-width: 480px) {
                    font-size: 1.4rem;
                }
            }
            a:hover {
                color: $hover-color;
            }
            .active {
                color: $active-color;
            }
        }
    }
    .footer-contact {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            margin-right: 5px;
            width: fit-content;
            height:  fit-content;
        }
    }
}