footer {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin: 0 auto;
    margin-top: 100px;
    ul {
        margin: 0 auto;
        .list-title {
            font-size: 0.8rem;
            font-weight: 600;
            font-family: $sans-serif;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        li {
            list-style-type: none;
            margin: 15px 0;
            a {
                font-size: 1.3rem;
            }
            a:hover {
                opacity: 0.6;
            }
            .active {
                color: pink;
            }
        }
    }
}