footer {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    padding: 50px 25px;
    margin: 0 auto;
    margin-top: 100px;
    @media(max-width: 770px) {
    align-items: center;
    }
    ul {
        margin: 0 auto;
        width: 20%;
        @media(max-width: 770px) {
          marign-left: auto;
            }
        .list-title {
            font-size: 0.8rem;
            font-weight: 600;
            font-family: $sans-serif;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        li {
            list-style-type: none;
            margin: 15px 0;
            a {
                font-size: 1.3rem;
            }
            a:hover {
                color: $hover-color;
            }
            .active {
                color: $active-color;
            }
        }
    }
    .footer-contact-wrapper {
        width: 80%;
        display: flex;
        @media(max-width: 770px) {
            flex-direction: column;  
            align-items: flex-start;
            justify-content: flex-start;
        }
        li {
            margin: 0 auto;
            @media(max-width: 770px) {
             margin: 0;
            }
        }
    }
}