 .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    // margin-top: 35px;
    gap: 25px;
    padding: 0 15px;
    @media (max-width: 1040px) and (min-width: 701px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .project-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        .project-link {
            width: 100%;
            height:540px;
            position: relative;
            cursor: pointer;
            @media (max-width: 650px) {
                height:250px;
            }
        }
        .project-title {
            padding: 25px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                font-size: 16px;
                font-weight:600;
                margin-bottom: 5px;
                letter-spacing: 1.1px;
                font-family: $sans-serif;
                text-transform: uppercase;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                margin: 0px;
                margin-top: 2px;
                padding-right: 20px;
                line-height: 1.4;
                text-align: center;
                padding: 0 10%;
                opacity: 0.5;
            }
        }
    }
}
.portfolio-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    @media (max-width: 660px) {
        padding: 0 5%;
    }
     .project-subheadings {
        font-size: 24px;
        text-decoration: underline;
        text-underline-offset: 4px;
        font-weight: 500;
        margin: 40px auto;
    }
    .project-hero {
        overflow: hidden;
        width: 100%;
        height: 504px;
        position: relative;
        margin: 0 auto;
        .project-hero-img {
            width: 80%;
            margin: 0 auto;
        }
    } 
    .project-text {
        padding: 50px 15%; 
        padding-bottom: 25px;
        @media (max-width: 660px) {
            padding: 25px 5%;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.9;
        }
    }

    .portrait-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 100%;
        margin: 25px auto;
        @media (max-width: 660px) {
            margin: 0 5%;
        }
        @media (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .project-grid-3-cols {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 100%;
        margin: 0 auto;
        // margin-bottom: 25px;
        @media (max-width: 660px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }
        .project-image-wrapper {
            &:last-of-type {
                @media (max-width: 660px) and (min-width: 416px ) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    width: 80%;
                    margin: 0 auto;
                }
                @media (max-width: 415px) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    width: 80%;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
    }
    .project-small-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 70%;
        margin: 0 auto;
        @media (max-width: 660px ) and (min-width: 416px){
            width: 100%;
            gap: 15px;
        }
        @media (max-width: 415px ) {
            width: 100%;
            gap: 15px;
            grid-template-columns: repeat(2, 1fr);
        }
        // margin-bottom: 25px;
    }
}
    .project-full-width {
        overflow: hidden;
        width: 100%;
        height: 504px;
        position: relative;
        margin: 0 auto;
        background-color: $lazy-bg;
    }


.project-image-wrapper {
    width: 100%;
    background-color: $lazy-bg;
    div {
      position: unset !important;
    }
    .project-image {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
}